{% extends 'base.html' %}
{% load static %}
{% block title %}Category List{% endblock title %}
{% block nav %}

{% endblock nav %}

{% block content %}
<div>
    <h2>Categories</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col-5">Category</th>
                <th scope="col-2">Image</th>
                <th scope="col-5">Date added</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td ><a class="td-link" href="{% url 'show_category' category.id %}">{{category.category_name}}</a></td>
                <td>
                    <img src="../../media/{{category.cat_img}}" width="50px" height="50px" alt="{{category.name}}">
                </td>
                <td>{{category.date_added}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="list-btns"><a href="{% url 'create_category' %}">Create Category</a></button>
</div>
{% endblock content %}
