{% extends 'base.html' %}

{% block title %}Create Product Category{% endblock title %}
{% block heading %}Create Category{% endblock heading %}

{% block content %}
<div>
    <h3>Fill in category info </h3>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Create</button>
    </form>
</div>
{% endblock content %}
