{% extends 'base.html' %}

{% block title %}Edit Category {% endblock title %}
{% block heading %}Edit Category{% endblock heading %}

{% block content %}
<div>
    <h3>Edit: {{category.category_name}}</h3>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Submit</button>
    </form>
</div>
{% endblock content %}
