{% extends 'base.html' %}

{% block title %}Category Details{% endblock title %}
{% block heading %}Category Details{% endblock heading %}

{% block content %}
<div class="detail-page">
    <p><span>Name: </span>{{ category.category_name}}</p>
    <p>{{category.cat_img}}</p>
    <img src="../../../media/{{category.cat_img}}" width="100px" height="100px" alt="{{category.category_name}}">

    <div class="detail-btns">
        <button><a href="{% url 'edit_category' category.id %}">Edit</a></button>
        <button><a href="{% url 'delete_category' category.id %}">Delete </a></button>
    </div>
</div>
{% endblock content %}
