{% extends 'base.html' %}
{% block content %}
    <div class="home">
        <aside class="home-sidebar">
            {% for category in catagories %}
                <figure class="fig figure">
                    <img class="figure-img img-fluid rounded"
                         src="../../media/{{ category.cat_img }}"
                         alt="Elephant at sunset" />
                    <figcaption class="figure-caption">
                        <a href="{% url 'switch_cat' category.id %}">{{ category.category_name }}</a>
                    </figcaption>
                </figure>
            {% endfor %}
        </aside>
        <section  class=" home-section">
            <div class="card-group gap-3">
            {% for product in products %}
            <div class="card ">
                <div class="card-header">
                    <img src="../../media/{{ product.img_url }}"
                         class="card-img-top"
                         alt="{{ product.img_url }}">
                </div>
                <div class="card-title"></div>
                <div class="card-body">
                    <p class="card-title">{{product.name}}</p>
                    <p class="card-text">
                       {{product.description}}
                    </p>
                </div>
                <div class="card-footer text-body-secondary">
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
            </div>

            {% endfor %}
        </div>
        </section>
    </div>
{% endblock content %}
