{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message</title>
</head>
<body>
    <div class="message">
        <h3>
            {% block message %}{% endblock message %}
        </h3>
    </div>
</body>
</html>
