* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

.wrapper {
    border: thin solid;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 1fr 75px;
    background-color: rgba(230,219,205,.5);
}
header, main, footer {

    /* border: thin solid red; */
}
li {
    list-style: none;
    padding: 1px 5px 1px 0;
    font-size: 1.25rem;
}
a {
    text-decoration: none;
}
header {
    background-image:url('../images/banner1.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    color:burlywood;
}
main {
    position: relative;
    overflow: auto;
}
.nav-bar ul{
    min-width: 25%;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: antiquewhite;
}
.nav-bar li a {
    color: black;
    font-size: 1.5rem;
}
.heading-title {
    padding: 10px 0;
}
.home {
    display: flex;
}
.home-sidebar {
    border: thin solid red;
    flex: 1;
}
.fig {
    padding: 5px 10% !important;
}
.home-section {
    border: thin solid green;
    flex: 3;



}
.card-group {
    border: thin solid orange;
    /* max-height: 100%; */
    /* display: grid; */
    /* align-items:normal; */
    /* grid-template-columns: 30% 30% 30% 30%;
    grid-template-rows:50%; */
}
.card{
    /* overflow: hidden; */
    /* height: 100%; */
    /* margin: 5px !important; */
}
.card img {
    border: thin solid red;
    height: 150px !important;
    width: auto !important;
}
.login-div {
    padding: 20px;
    border-radius: 7px;
    border: 3px groove blue;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

#td-link {
    color:red;
}
#td-link:hover {
    color:blue;
}
.list-btns a{
    font-size: 1.2rem;
    margin-right: 10px;
}
/* Detail Pages  */
.detail-page {
    /* border: thin solid red; */
    font-size: 1.25rem;
    padding: 15px;
    width:fit-content;
}
.detail-page span {
    font-weight: bold;
}
.detail-btns {
    padding: 5px;
    margin: 10px 0;
    width:fit-content;
}

.detail-btns a{
    font-size: 1.2rem;
    margin-right: 10px;
}
