{% extends 'base.html' %}
{% block title %}User Login{% endblock title %}

{% block content %}
<div class="login-div">
    <h2>User Login</h2>
    <form class="form" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Login</button>
    </form>

</div>
{% endblock content %}
