{% extends 'base.html' %}

{% block title %}Create Product {% endblock title %}
{% block heading %}Create Product{% endblock heading %}

{% block content %}
<div>
    <h3>Fill in product info </h3>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Create</button>
    </form>
</div>
{% endblock content %}
