{% extends 'base.html' %}
{% load static %}
{% block title %}
    Product List
{% endblock title %}
{% block heading %}
    Products List
{% endblock heading %}
{% block nav %}
{% endblock nav %}
{% block content %}
    <div>
        <div class="heading-title">
            <h4>Select product for details</h4>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Catagory</th>
                    <th scope="col">Description</th>
                    <th scope="col">Vendor</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <a class="td-link"
                               role="button"
                               href="{% url 'show_product' product.id %}">{{ product.name }}</a>
                        </td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.vendor }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary"href="{% url 'create_product' %}">Create Product</a>
    </div>
{% endblock content %}
