{% extends 'base.html' %}

{% block title %}Product Details{% endblock title %}
{% block heading %}Product Details{% endblock heading %}

{% block content %}
<div class="detail-page">
    <p><span>Name: </span>{{product.name}}</p>
    <img height="100px" width="100px" src="../../media/{{product.img_url}}" alt="">
    <ul>
        <li><span>SKU: </span> {{ product.sku}}</li>
        <li><span>Description: </span> {{ product.description}}</li>
        <li><span>Vendor: </span> {{ product.vendor}}</li>
        <li><span>Category: </span> {{ product.category}}</li>
    </ul>
    <div class="detail-btns">
        <button><a href="{% url 'edit_product' product.id %}">Edit</a></button>
        <button><a href="{% url 'delete_product' product.id %}">Delete </a></button>
    </div>
</div>
{% endblock content %}
